body {
  margin: 0;
  background: url("./bigbg.jpg") top center, repeat-y;
  background-size: 100%;
  font-family: 'Libre Baskerville', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
