.book_list {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 800px;
    background-color: rgb(255, 244, 200);
}


.book_item {
    margin: 20px auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

.book_item::after {
    content: "";
    display: block;
    width: 800px;
    height: 2px;
    background-color:rgb(59, 37, 3);
    position: absolute;
    top: 320px;
}

.book_item-left,
.book_item-right {
    width: 300px;
}
.book_item-img {
    max-width: 200px;
}